<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="spider_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>spider_control/SpiderHardwareInterface</plugin>
            </hardware>
            <joint name="joint_coxa_rr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_rr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_rr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_rr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_rr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_rr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_coxa_rm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_rm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_rm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_rm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_rm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_rm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_coxa_rf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_rf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_rf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_rf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_rf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_rf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_coxa_lr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_lr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_lr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_lr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_lr">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_lr']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_coxa_lm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_lm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_lm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_lm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_lm">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_lm']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_coxa_lf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_coxa_lf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_femur_lf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_femur_lf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_tibia_lf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_tibia_lf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
